<h1>Zoom Track</h1>
<h4>Operator dashboard</h4>

<h3>Read the schedule</h3>
<select class="" name="">

</select>

<hr>

<h3>Add a train</h3>
<form class="form-group" action="/train" method="post">
  <label for="name">Train name</label>
  <input type="text" name="name">
  <button type="submit">Add train</button>
</form>

<hr>
