<h1>Zoom Track</h1>
<h4>Operator dashboard</h4>


<% if @trains.any?() %>
  <h3>Trains:</h3>
  <ul>
    <% @trains.each() do |train| %>
      <li><a href="/train/<%= train.id()%>"> <%= train.name() %></a></li>
    <% end %>
  </ul>

<% else %>
  <p>
    There are no trains yet!
  </p>
<% end %>

<hr>

<h3>Add a train</h3>
<form class="form-group" action="/train" method="post">
  <label for="name">Train name</label>
  <input type="text" name="name">
  <button type="submit">Add train</button>
</form>

<hr>
